- var feature1 = '200+<br/>Pages';
- var feature2 = 'Easy to<br/>Customize';
- var feature3 = 'Fully<br/>Responsive';
- var feature4 = 'Helpful<br/>Documentation';
- var feature5 = '400+ UI<br/>Elements';
- var feature6 = 'Form<br/>Validation';
- var feature7 = 'Lots of<br/>Charts';
- var feature8 = 'Dark & Light<br/>Layouts';

a(id='features')
.section
  .container
    .row
      .col-md-12
        h3.section__title.feature-header Main features
    .row
      .col-md-4.col-lg-4.col-sm-6.col-12
        .feature
          .feature__img-wrap
            img(src='landing/assets/img/features/01.png' alt='')
          p.feature__title!= feature1
      //- .col-md-4.col-lg-3.col-sm-6.col-12
      //-   .feature
      //-     .feature__img-wrap
      //-       img(src='landing/assets/img/features/02.png' alt='')
      //-     p.feature__title!= feature2
      .col-md-4.col-lg-4.col-sm-6.col-12
        .feature
          .feature__img-wrap
            img(src='landing/assets/img/features/03.png' alt='')
          p.feature__title!= feature3
      .col-md-4.col-lg-4.col-sm-6.col-12
        .feature
          .feature__img-wrap
            img(src='landing/assets/img/features/04.png' alt='')
          p.feature__title!= feature4
      .col-md-4.col-lg-4.col-sm-6.col-12
        .feature
          .feature__img-wrap
            img(src='landing/assets/img/features/05.png' alt='')
          p.feature__title!= feature5
      .col-md-4.col-lg-4.col-sm-6.col-12
        .feature
          .feature__img-wrap
            img(src='landing/assets/img/features/06.png' alt='')
          p.feature__title!= feature6
      .col-md-4.col-lg-4.col-sm-6.col-12
        .feature
          .feature__img-wrap
            img(src='landing/assets/img/features/07.png' alt='')
          p.feature__title!= feature7
      //- .col-md-4.col-lg-3.col-sm-6.col-12
      //-   .feature
      //-     .feature__img-wrap
      //-       img(src='landing/assets/img/features/08.png' alt='')
      //-     p.feature__title!= feature8
    .row.code
      .col-md-5.col-sm-12
        .code__text
          .code__wrap
            h3.section__title Fully Responsive
            p You can use the Easydev on all devices - it'll look great everywhere!
            p Lazy loading allows your device to display the graphic content softly and correctly
      .col-md-7.col-sm-12
        .code__img.code__img--no-shadow
          .code__wrap
            img.landing__img.landing__img--over(src='landing/assets/img/admin_book.png' alt='')
    .row.code
      .col-md-5.col-sm-12
        .code__text
          .code__wrap
            h3.section__title Clean Professional Code
            p We have created a quality product that will be convenient for developers to use. The main advantageis a clean, correct and easy to understand code.
            p Pug compiles to HTML and has a simplified syntax, which can make you more productive and your code more readable. Pug makes it easy both to write reusable HTML, as well as to render data pulled from a database or API.
      .col-md-7.col-sm-12
        .code__img.code__img--no-shadow
          .code__wrap
            img.landing__img.landing__img--over-right(src='landing/assets/img/code_example.png' alt='')



