.header(style='background-image: url(\'landing/assets/img/header_bg.png\')')
  .container
    .row
      .col-md-12
        h2.header__title The best documented and cleanest coded HTML(Pug) Bootstrap 4 Admin Template
        p.header__subhead="We guarantee you will always get the actual version of the template with a bunch of "
          a.landing__header-subhead-update(href="documentation/changelog")="freshest updates."
        a.btn.btn--header(href='documentation/introduction' target="_blank") Check out the docs
        a.btn.btn--header(href='dashboards/online_marketing_dashboard' target="_blank") Live demo
        h3.header__title Also available on
        .header__technologies-wrapper
          a(
            href='https://clck.ru/RE2za'
            target="_blank"
            )
            img(src="landing/assets/img/react_logo.svg", alt="").header__technology-logo
            p.header__technology-text="React"
          a(
            href='https://clck.ru/RE2sy'
            target="_blank"
            )
            img(src="landing/assets/img/angular_logo.svg", alt="").header__technology-logo
            p.header__technology-text="Angular"
