mixin colorpicker(type, pickrId)
  .color-picker.colorpicker(id=`${pickrId}-pickr-root`)
    div.color-picker__button(id=`${pickrId}-pickr`)
      p.color-picker__color='#ff4861'
      .color-picker__color-view(style="background-color: rgb(255, 72, 97);")

mixin colorpicker2(type, pickrId)
  .color-picker.colorpicker(id=`${pickrId}-pickr-root`)
    div.color-picker__button(id=`${pickrId}-pickr`)
      p.color-picker__color='#4ce1b6'
      .color-picker__color-view(style="background-color: rgb(76, 225, 182);")

