include ./components/documentation-nav
include ./components/documentation-nav-bottom
mixin documentation-color-scheme()
  .documentation__main.row
    +documentation-nav
    .col-12.col-sm-12.col-md-12.col-lg-9.col-xl-9
      .card--not-full-height.card
        .card-body
          .card__title
            h5.bold-text="Color scheme"
          p="Colors we use:"
          pre
            code.language-scss
              |$themes: (
              |  light: (
              |   colorBackground: white,
              |   colorBackgroundBody: #f2f4f7,
              |   colorText: #646777,
              |   colorTextAdditional: #646777,
              |   colorHover: #fafbfe,
              |   colorBorder: #eff1f5,
              |   colorIcon: #dddddd,
              |   imgInvert: invert(0%),
              |   colorFieldsBorder: #f2f4f7,
              |   colorBubble: rgba(242, 244, 247, 0.65),
              |   colorBubbleActive: rgba(234, 238, 255, 0.6),
              |   colorScrollbar: #B4BFD0,
              |   colorFitness: #646777,
              | )
          p="The dark theme is commented out, it will be available soon."
          p="Main colors:"
          pre
            code.language-scss
              | $color-accent: #4ce1b6;
              | $color-accent-hover: darken($color-accent, 10%);
              | $color-additional: #999999;
              | $color-additional-hover: darken($color-additional, 10%);
              |
              | $color-yellow: #f6da6e;
              | $color-yellow-hover: darken($color-yellow, 10%);
              |
              | $color-violet: #c88ffa;
              |
              | $color-red: #ff4861;
              | $color-red-hover: darken($color-red, 10%);
              |
              | $color-blue: #70bbfd;
              | $color-blue-hover: darken($color-blue, 10%);
              |
              | $color-gray: #787985;
              | $color-light-gray: #d8dfe9;
              |
              | $color-green: #b8e986;
              | $color-green-hover: darken($color-green, 10%);
          p="You can change the colors to whatever you want"
          p
            |Path to color variables:
            b=' app/styles/variables.scss'
  +documentation-nav-bottom({path: 'documentation/components', title: 'Components'}, {path: 'documentation/navigation', title: 'Navigation'})
