mixin modal(id, text, classes, extra)
  div.modal.fade(id=id, tabindex="-1", role="dialog", aria-hidden="true")
    div(class=`modal-dialog modal-dialog--${classes} ${extra ? `modal-dialog--${extra}` : ""}`, role="document")
      .modal-content
        .modal__header
          button(class="lnr lnr-cross modal__close-btn", type="button")
          if (!extra || (extra && extra !== 'header'))
            +lnr('pushpin').modal__title-icon
          h4.bold-text.modal__title="Congratulations!"
        .modal__body=text
        .modal__footer.btn-toolbar
          +btn('btn-secondary')='Cancel'
          +btn(`btn${extra ? '-outline-' : '-'}${classes}`)='Ok'
