extends ../../blocks/layout

block layout
  - var active_page = 'ui_grids'

block content
  .container
    .row
      .col-md-12
        h3.page-title='Grids'
        h3.page-subhead.subhead='Here is the examples of grids you can use in any component you need'
    .row
      .col-sm-12.col-md-12
        .grid.card
          .card-body
            p='col-md-12'
    .row
      .col-sm-12.col-md-11
        .grid.card
          .card-body
            p='col-md-11'
      .col-sm-12.col-md-1
        .grid.card
          .card-body
            p.grid__small='col-md-1'
    .row
      .col-sm-12.col-md-10
        .grid.card
          .card-body
            p='col-md-11'
      .col-sm-12.col-md-2
        .grid.card
          .card-body
            p.grid__small='col-md-1'
    .row
      .col-sm-12.col-md-9
        .grid.card
          .card-body
            p='col-md-11'
      .col-sm-12.col-md-3
        .grid.card
          .card-body
            p='col-md-3'
    .row
      .col-sm-12.col-md-8
        .grid.card
          .card-body
            p='col-md-11'
      .col-sm-12.col-md-4
        .grid.card
          .card-body
            p='col-md-1'
    .row
      .col-sm-12.col-md-7
        .grid.card
          .card-body
            p='col-md-11'
      .col-sm-12.col-md-5
        .grid.card
          .card-body
            p='col-md-1'
    .row
      .col-sm-12.col-md-6
        .grid.card
          .card-body
            p='col-md-11'
      .col-sm-12.col-md-6
        .grid.card
          .card-body
            p='col-md-1'
