
mixin documentation-nav()
  .documentation__nav.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3
    div
      .card--not-full-height.documentation__nav-wrap.card(id='documentation')
        .card-body
          a.documentation__nav-link(href="documentation/introduction")="Introduction"
          a.documentation__nav-link(href="documentation/installation")="Installation"
          a.documentation__nav-link(href="documentation/file_structure")="File Structure"
          a.documentation__nav-link(href="documentation/components")="Components"
          a.documentation__nav-link(href="documentation/color_scheme")="Color Scheme"
          a.documentation__nav-link(href="documentation/navigation")="Navigation"
          a.documentation__nav-link(href="documentation/resources")="Resources"
          a.documentation__nav-link(href="documentation/changelog")="Changelog"
